* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
    color: #636363;
    line-height: 1.6;
}

/* Common:
	- Button
	- sub_title
	- title
	- desc
 */

.container {
    max-width: 1200px;
    margin: auto;
}

a {
    text-decoration: none;
}

.btn {
    padding: 2rem 3.5rem;
    font-size: 1.5rem;
    font-weight: 500;
    /* background-image: linear-gradient(
        to right,
        #f55f8d 0,
        #f8ae56 51%,
        #f55f8d 100%
    ); */
    background-image: linear-gradient(
        to right,
        #f55f8d 0,
        #f8ae56 51%,
        #f55f8d 100%
    );
    text-align: center;
    border: 1px solid transparent;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    margin-left: 2rem;
    border-radius: 30px;
    transition: 0.5s;
    display: block;
    background-size: 200%;
}

.btn:hover {
    background-position: right center;
}

/* title common  */
.sub-title {
    font-weight: 600;
    font-size: 2.2rem;
    margin-bottom: 2rem;
    color: #f55f8d;
}

.content-title {
    font-size: 7rem;
    line-height: 1.1;
    font-weight: 800;
    color: #262626;
    margin-bottom: 2rem;
}

.desc {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    color: #636363;
}

/* ! HEADER */
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .nav,
.nav__list {
    display: flex;
    align-items: center;
}

.nav__item {
    padding: 55px 15px;
}

.nav .nav__link span {
    color: #000;
    font-size: 1.5rem;
    font-weight: 500;
    display: inline-block;
    transition: all 1s;
}

.nav__item:hover a,
.nav__item:hover span {
    color: #f55f8d;
}

.nav__link:hover span {
    animation: upToDown 0.5s;
}

@keyframes upToDown {
    49% {
        transform: translateY(100%);
    }
    50% {
        opacity: 0;
        transform: translateY(-100%);
    }
    51% {
        opacity: 1;
    }
}

.nav .nav__link i {
    font-size: 0.9rem;
    vertical-align: middle;
}

/* ! Carousel */

.carousel {
    background-image: url(../imgs/pic2.png);
    padding-top: 180px;
    overflow: hidden;
    background-position: top;
    background-size: 100%;
}

.carousel-content {
    display: flex;
    align-items: center;
}

.carousel-left {
    width: 60%;
}

.carousel-right {
    width: 40%;
}

/*  carousel list  */
.carousel__list {
    margin-bottom: 2rem;
}

.carousel__item {
    padding: 10px 5px 10px 0;
    color: #636363;
}

.carousel__item i {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    text-align: center;
    background-image: linear-gradient(
        to right,
        #f55f8d 0,
        #f8ae56 51%,
        #f55f8d 100%
    );
    line-height: 35px;
    font-size: 24px;
    color: #fff;
    border-radius: 35px;
    font-weight: 900;
    background-size: 200%;
    margin-right: 10px;
}

/* ! Services */

.services {
    padding-top: 11.5rem;
    text-align: center;
}

.services-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 40px;
}

.services__item {
    border-radius: 0.5rem;
    background: #fff;
    box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.1);
    padding: 3rem 4.5rem;
    border: 3px solid transparent;
    transform: translateY(0px);
    transition: all 0.5s;
}

.services__item:hover {
    transform: translateY(-20px);
    border-image: url(../imgs/br.png) 1 round;
}

.services__img {
    width: 215px;
}
.services__title {
    margin: 1.5rem 0;
    color: #262626;
    font-size: 2.4rem;
    font-weight: 500;
}

/* !About */

.about {
    padding-top: 11.5rem;
    background-image: url(../imgs/bg15.png);
    background-position: center right;
    background-repeat: no-repeat;
    padding-bottom: 8.5rem;
    overflow: hidden;
}

.about-content {
    display: flex;
    justify-content: flex-end;
    position: relative;
    align-items: center;
}

.about__left {
    width: 60%;
    position: absolute;
    left: -17%;
}

.about__img {
    width: 100%;
    border-radius: 0 10rem 10rem 0;
}
.about__right {
    width: 50%;
}

.about__list {
    margin-bottom: 3rem;
}

.btn__about {
    margin-left: 0;
}

/* !number */

.numb {
    background-image: url(../imgs/bg14.png);
    background-position: center;
    background-repeat: no-repeat;
    padding: 8rem 0 5rem;
}

.numb-content {
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    text-align: center;
}
.numb__item {
    width: 25%;
}

.numb__item i {
    display: inline-block;
    font-size: 4.5rem;
    background-image: linear-gradient(
        to right,
        #f55f8d 0,
        #f8ae56 51%,
        #f55f8d 100%
    );
    border-radius: 50%;
    text-align: center;
    line-height: 80px;
    background-size: 200%;
    width: 80px;
    height: 80px;
    margin-bottom: 15px;
    color: #fff;
}

.numb__item .numb__title {
    font-size: 6.5rem;
    font-weight: 800;
    color: #f55f8d;
    line-height: 1;
}

.numb__item .numb__desc {
    color: #262626;
    font-size: 2.5rem;
}

/* !features */

.features {
    padding-top: 11.5rem;
    background-image: url(../imgs/bg2.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

.features-content {
    display: flex;
}

.features__left {
    width: 50%;
}

.features__item {
    margin: 0 50px 30px 0;
    box-shadow: 0 0px 161px 0px rgb(0 0 0 / 10%);
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.features__item:nth-of-type(2) {
    margin: 0 0 30px 50px;
}

.features__icon {
    padding-right: 2.5rem;
    font-size: 80px;
    line-height: 1;
    color: #f55f8d;
    z-index: 1;
    transition: all 1s;
}

.features__title {
    font-weight: 800;
    color: #262626;
    font-size: 2.4rem;
    transition: all 1s;
}

.features__right {
    width: 50%;
}

.features__bg .features__img {
    max-width: 100%;
    animation: movie 5s infinite;
}

@keyframes movie {
    0% {
        transform: rotate(1deg) translate(2px, 2px);
    }
    50% {
        transform: rotate(-1deg) translate(-2px, -2px);
    }
    100% {
        transform: rotate(1deg) translate(2px, 2px);
    }
}

/* !Portfolio */
