* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
    color: #636363;
    line-height: 1.6;
}

/* Common:
	- Button
	- sub_title
	- title
	- desc
 */

.container {
    max-width: 1200px;
    margin: auto;
}

a {
    text-decoration: none;
}

.btn {
    padding: 2rem 3.5rem;
    font-size: 1.5rem;
    font-weight: 500;
    /* background-image: linear-gradient(
        to right,
        #f55f8d 0,
        #f8ae56 51%,
        #f55f8d 100%
    ); */
    background-image: linear-gradient(
        to right,
        #f55f8d 0,
        #f8ae56 51%,
        #f55f8d 100%
    );
    text-align: center;
    border: 1px solid transparent;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    margin-left: 2rem;
    border-radius: 30px;
    transition: 0.5s;
    display: block;
    background-size: 200%;
}

.btn:hover {
    background-position: right center;
}

/* title common  */
.sub-title {
    font-weight: 600;
    font-size: 2.2rem;
    margin-bottom: 2rem;
    color: #f55f8d;
}

.content-title {
    font-size: 7rem;
    line-height: 1.1;
    font-weight: 800;
    color: #262626;
    margin-bottom: 2rem;
}

.desc {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    color: #636363;
}

/* ! HEADER */
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .nav,
.nav__list {
    display: flex;
    align-items: center;
}

.nav__item {
    padding: 55px 15px;
}

.nav .nav__link span {
    color: #000;
    font-size: 1.5rem;
    font-weight: 500;
    display: inline-block;
    transition: all 1s;
}

.nav__item:hover a,
.nav__item:hover span {
    color: #f55f8d;
}

.nav__link:hover span {
    animation: upToDown 0.5s;
}

@keyframes upToDown {
    49% {
        transform: translateY(100%);
    }
    50% {
        opacity: 0;
        transform: translateY(-100%);
    }
    51% {
        opacity: 1;
    }
}

.nav .nav__link i {
    font-size: 0.9rem;
    vertical-align: middle;
}

/* ! Carousel */

.carousel {
    background-image: url(../imgs/pic2.png);
    padding-top: 180px;
    overflow: hidden;
    background-position: top;
    background-size: 100%;
}

.carousel-content {
    display: flex;
    align-items: center;
}

.carousel-left {
    width: 60%;
}

.carousel-right {
    width: 40%;
}

/*  carousel list  */
.carousel__list {
    margin-bottom: 2rem;
}

.carousel__item {
    padding: 10px 5px 10px 0;
    color: #636363;
}

.carousel__item i {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    text-align: center;
    background-image: linear-gradient(
        to right,
        #f55f8d 0,
        #f8ae56 51%,
        #f55f8d 100%
    );
    line-height: 35px;
    font-size: 24px;
    color: #fff;
    border-radius: 35px;
    font-weight: 900;
    background-size: 200%;
    margin-right: 10px;
}

/* ! Services */

.services {
    padding-top: 11.5rem;
    text-align: center;
}

.services-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 40px;
}

.services__item {
    border-radius: 0.5rem;
    background: #fff;
    box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.1);
    padding: 3rem 4.5rem;
    border: 3px solid transparent;
}

.services__img {
    width: 215px;
}
.services__title {
    margin: 1.5rem 0;
    color: #262626;
    font-size: 2.4rem;
    font-weight: 500;
}
